body {
  padding: 16px;
}

.App {
  width: 60%;
  margin: 0 auto;
}
#chat {
  height: calc(100vh - 128px);
  overflow-y: scroll;
  padding: 16px;
  min-width: 50%;
}

.name {
  color: rgba(0, 0, 0, 0.54);
}

.myMessage {
  text-align: right;
}
.content {
  margin-bottom: 8px;
}
